apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins-project
  template:
    metadata:
      labels:
        app: jenkins-project
    spec:
      containers:
        - name: jenkins
          image: alonaru/jenkins-project:01
          ports:
            - containerPort: 8080
            - containerPort: 50000
          volumeMounts:
            - name: jenkins-home
              mountPath: /var/jenkins_home
      volumes:
        - name: jenkins-home
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: jenkins-project
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 8080
      targetPort: 8080
    - name: agent
      port: 50000
      targetPort: 50000
  selector:
    app: jenkins-project
